<form action="/msgSend" method="post">
    <select class="linkSel" id="🎂" name="user">
        <option selected disabled hidden>{{currentUserName}}</option>
        <option value="/logout">return to monke</option>
        <option value="/usrBeGone">b e g o n e</option>
        <option value="/login">change account</option>
        <option value="/profileSelf">profile</option>
    </select>
    <input id="inpMsg" name="new_msg" required autocomplete="off">
    <button id="btnSubmit">submit</button>
</form>