<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/fancy.css">
    <title>Document</title>
</head>
<body>
    <div id="profile">
        <h2>{{this.name}}</h2>
        <p>{{this.desc}}</p>
        <ul>
            {{#each this.tags}}
            <li>{{tag}}</li>
            {{#each/}}
        </ul>
    </div>
</body>
</html>